$text-color: #222222;
$accept: #005fa3;
$white: #FFFFFF;
$grey: #EBEBEB;
$dark-grey:#BDBDBD;

$button-slider__transparent: rgba(255, 255, 255, 0.2);
$button-slider__transparent-hover: rgba(255, 255, 255, 0.4);
$button-slider__accept: rgba(0, 95, 163, 0.2);